# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
# Настройка jwt
SECRET_KEY=your_secret_key_here
ALGORITHM=algorithm_here
# Настройки базы данных
POSTGRES_DB=your_database_name_here
POSTGRES_USER=your_user_name_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_HOST=localhost   # Хост базы данных (обычно localhost)
POSTGRES_PORT=5432        # Порт, на котором работает база данных (стандартный порт для PostgreSQL)
